In [3]:
# Find out more about len()
print(help(len))

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

None

In [6]:
# course_ratings - a dictionary variable containing course names 
# as keys and average ratings as values.
course_ratings = {"LLM Concepts": 4.7, 
                  "Introduction to Data Pipelines": 4.75, 
                  "AI Ethics": 4.62, 
                  "Introduction to dbt": 4.81}

# Print the number of key-value pairs
num_courses = len(course_ratings)
print(num_courses)

# course_completions - a list variable containing 
# the daily number of completions for an individual course.
course_completions = [97, 83, 121, 205, 56, 174, 92, 117, 164]

# Find the number of courses
num_courses = len(course_completions)
print(num_courses)

# most_popular_course - a string variable 
# containing the name of a course.

most_popular_course = "Introduction to dbt"

# How many characters are in most_popular_course?
title_length = len(most_popular_course)
print(title_length)

4
9
19

In [7]:
# Import the string module
import string

# Print all ASCII lowercase characters
print(string.ascii_lowercase)

# Print all punctuation
print(string.punctuation)

abcdefghijklmnopqrstuvwxyz
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [8]:
# Import date from the datetime module
from datetime import date

# Create a variable called deadline
deadline = date(2024, 1, 19)

# Check the data type
print(type(deadline))

# Print the deadline
print(deadline)

<class 'datetime.date'>
2024-01-19

In [10]:
# Import pandas as pd
import pandas as pd

sales = {"user_id": ["KM37", "PR19", "YU88"],
         "order_value": [197.75, 208.21, 134.99]}

# Convert sales to a pandas DataFrame
sales_df = pd.DataFrame(sales)

# Preview the first five rows
print(sales_df.head())

  user_id  order_value
0    KM37       197.75
1    PR19       208.21
2    YU88       134.99

In [11]:
# Create the clean_string function
def clean_string(text):
  
  # Replace spaces with underscores
  no_spaces = text.replace(" ", "_")
  
  # Convert to lowercase
  clean_text = no_spaces.lower()
  
  # Return the final text as an output
  return clean_text

converted_text = clean_string("I LoVe dATaCamP!")
print(converted_text)

i_love_datacamp!

In [12]:
# Define clean_text
def clean_text(text, remove=None):
  if remove != None:
    clean_text = text.replace(remove, "")
    clean_text = clean_text.lower()
    return clean_text
  else:
    clean_text = text.lower()
    return clean_text

In [ ]:
# Create the convert_data_structure function
def convert_data_structure(data, data_type = "list"):
  
  # If data_type is "tuple"
  if data_type == "tuple":
    data = tuple(data)
  
  # Else if data_type is set, convert to a set
  elif data_type == "set":
    data = set(data)
  else:
    data = list(data)
  return data

# Call the function to convert to a set
convert_data_structure({"a", 1, "b", 2, "c", 3}, data_type="set")

In [14]:
# The term dunder comes from "double underscore" — and __doc__ is one of many special attributes in Python surrounded by double underscores.

# __doc__ is the docstring attribute of a function, class, or module.
# It stores the string you write right after a function/class/module definition.

# This is often used to explain what the function does.

def clean_string(text):
  
  # Add a single-line docstring
  """Swap spaces to underscores and convert text to lowercase."""
  
  no_spaces = text.replace(" ", "_")
  clean_text = no_spaces.lower()
  return clean_text

# Access the docstring
print(clean_string.__doc__)

Swap spaces to underscores and convert text to lowercase.

In [15]:
# Create the convert_data_type function
def convert_data_structure(data, data_type="list"):
  # Add a multi-line docstring
  """
  Convert a data structure to a list, tuple, or set.
  
  Args:
  	data (list, tuple, or set): A data structure to be converted.
    data_type (str): String representing the type of structure to convert data to.
    
  Returns:
  	data (list, tuple, or set): Converted data structure.
  """
  if data_type == "tuple":
    data = tuple(data)
  elif data_type == "set":
    data = set(data)
  else:
    data = list(data)
  return data

print(help(convert_data_structure))

Help on function convert_data_structure in module __main__:

convert_data_structure(data, data_type='list')
    Convert a data structure to a list, tuple, or set.

    Args:
          data (list, tuple, or set): A data structure to be converted.
      data_type (str): String representing the type of structure to convert data to.

    Returns:
          data (list, tuple, or set): Converted data structure.

None

In [16]:
# Define a function called concat
def concat(*args):
  
  # Create an empty string
  result = ""
  
  # Iterate over the Python args tuple
  for arg in args:
    result += " " + arg
  return result

# Call the function
print(concat("Python", "is", "great!"))

 Python is great!

In [17]:
# Define a function called concat
def concat(**kwargs):
  
  # Create an empty string
  result = ""
  
  # Iterate over the Python kwargs
  for kwarg in kwargs.values():
    result += " " + kwarg
  return result

# Call the function
print(concat(start="Python", middle="is", end="great!"))

 Python is great!

In [18]:
students = [("Alice", 88), ("Bob", 75), ("Charlie", 95)]

# Sort by score using a lambda
## This means:
## For each element x in the list (each x is a tuple like ("Alice", 88)),
## Use x[1] (the second item, i.e., the score) as the sorting key
sorted_students = sorted(students, key=lambda x: x[1])

print(sorted_students)

[('Bob', 75), ('Alice', 88), ('Charlie', 95)]

In [20]:
# lambda x: x.capitalize()
## This is an anonymous function (no name) that takes one input x
## x.capitalize() converts a string like "john" to "John"
## map(...) takes two arguments:
## 1.a function (in this case, the lambda)
## 2.an iterable (in this case, names)
## It applies the lambda function to each item in the list
## [lambda("john"), lambda("sally"), lambda("leah")]

names = ["john", "sally", "leah"]

# Apply a lambda function inside map()
capitalize = map(lambda x: x.capitalize(), names)

print(capitalize)
print(list(capitalize))

<map object at 0x10baa4070>
['John', 'Sally', 'Leah']

In [21]:
sale_price = 29.99

# Define a lambda function called add_tax
add_tax = lambda x: x * 1.2

# Call the lambda function
print(add_tax((sale_price)))

35.988

In [22]:
# In a single line of code, make a lambda function that 
# multiplies sale_price by 1.2 and returns the results.
sale_price = 29.99

# Call a lambda function adding 20% to sale_price
print((lambda x : x * 1.2)(sale_price))

35.988

In [23]:
# Lambda functions with iterables

sales_prices = [29.99, 9.95, 14.50, 39.75, 60.00]

# Create add_taxes to add 20% to each item in sales_prices
add_taxes = map(lambda x : x * 1.2, sales_prices)

# Use add_taxes to return a new list with updated values
print(list(add_taxes))

[35.988, 11.94, 17.4, 47.699999999999996, 72.0]

In [24]:
def snake_case(text):
  # Attempt to clean the text
  try:
    # Swap spaces for underscores
    clean_text = text.replace(" ", "_")
    clean_text = clean_text.lower()
  # Run this code if an error occurs
  except:
    print("The snake_case() function expects a string as an argument, please check the data type provided.")
    
snake_case("User Name 187")

In [25]:
def snake_case(text):
  # Check the data type
  if(type(text) == str):
    clean_text = text.replace(" ", "_")
    clean_text = clean_text.lower()
  else:
    # Return a TypeError error if the wrong data type was used
    raise TypeError("The snake_case() function expects a string as an argument, please check the data type provided.")
    
snake_case("User Name 187")